/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --placeholderColor: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* height: 100vh; */
  /* background: #a2a3a4; */
  /* display: grid;
 grid-template-columns: 7rem auto 7rem; */
  max-width: 1440px;
  margin: auto;

  /* height: 100vh; */
}
.container {
  /* height: 100%; */
  /* background: green; */
}
header {
  /* grid-column: 1 / -1; */
  background: #a6cbde;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 0; */
  height: 130px;
}
header img {
  width: 20rem;
}

.form-section {
  /* grid-column: 2 / 3; */
  /* border: 2px solid teal; */
  height: calc(100vh - 130px - 60);
  padding: 0 201px;
  border: 1px solid #f3f3f3;
}
.form-title {
  font-size: 45px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-top: 71px;
  color: #222a2e;
}
form {
  /* border: 1px solid red; */
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  /* height: ; */
  margin-top: 72px;
}
input {
  padding: 23px 10px;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  border-bottom: 1px solid #000;
  font-size: 24px;
  outline: none;
  /* padding-bottom: 23px;
 padding-top: 23px; */
  width: 400px;
  margin-bottom: 100px;
}
.name-and-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid yellow; */
}

input::placeholder {
  /* padding-left: 10px; */
  color: #000;
  font-weight: 300;
}
.phone-and-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid yellow; */
}
.your-message {
  /* border: 1px solid maroon; */
  /* margin-bottom: 3rem; */
}
.your-message #message {
  width: 100%;
  height: 188px;
  /* border: 1px solid; */
}
#message::placeholder {
  /* font-size: 24px;
  font-family: 'Montserrat', sans-serif; */
  color: #000;
  /* color: var(--placeholderColor, red); */
  font-weight: 300;
}
.your-message textarea {
  font-family: 'Montserrat', sans-serif;
  width: 1037px;
  height: 188px;
  border: 0;
  border-bottom: 1px solid #000;
  resize: none;
  outline: none;
  font-size: 24px;
  padding: 23px 10px;
}
.buttons {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 100px;
  /* background: maroon; */
  /* margin-top: 90px; */
}
.buttons input[type='submit'] {
  font-family: 'Montserrat', sans-serif;
  background: #a6cbde;
  /* padding: 0.5rem 1.5rem; */
  border: none;
  color: #fff;
  width: fit-content;
  margin-right: 80px;
  font-weight: 700;
  font-size: 24px;
  padding: 13px 34px;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.3s;
}
.buttons input[type='submit']:hover {
  background: #000;
  color: #fff;
}
.buttons input[type='reset'] {
  font-family: 'Montserrat', sans-serif;
  background: #a2a3a4;
  /* padding: 0.5rem 1.5rem; */
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  width: fit-content;
  padding: 13px 34px;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.3s;
}
.buttons input[type='reset']:hover {
  background: #000;
  color: #fff;
}

footer {
  /* grid-column: 1 / -1; */
  background: #222a2e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
}
footer p .fa {
  font-size: 15px;
  /* margin-bottom: 15px; */
  margin-right: 3px;
}
footer p {
  padding-top: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

/* .red-error {
 border-bottom: 1px solid red;
} */

.red-error::placeholder,
.red-error#message::placeholder {
  color: red;
  font-size: 18px;
}
.red-error {
  border-bottom: 1px solid red !important;
}

/* START OF MEDIA QUERIES */

@media only screen and (max-width: 1230px) {
  input {
    /* width: 350px; */
  }
  .form-section {
    padding: 0 150px;
  }
}
@media only screen and (max-width: 1130px) {
  input {
    /* width: 300px; */
  }
  .form-section {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 1030px) {
  input {
    width: 350px;
  }
}
@media only screen and (max-width: 930px) {
  input {
    /* width: 300px; */
  }
  .form-section {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 830px) {
  input {
    width: 320px;
  }
  .form-section {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 768px) {
  input {
    /* background: #A6CBDE; */
    /* display: block; */
    width: 100%;
    margin-bottom: 30px;
  }
  .name-and-email {
    flex-direction: column;
    /* background: rebeccapurple; */
    /* width: 100%; */
  }
  .phone-and-company {
    flex-direction: column;
  }
  textarea {
    margin-bottom: 30px;
  }
  input[type='submit'],
  input[type='reset'] {
    margin-bottom: 100px;
    /* margin-top: 0px; */
  }
  .buttons {
    margin-top: 0;
  }
}
@media only screen and (max-width: 500px) {
  .form-title {
    text-align: center;
  }
  .form-section {
    padding: 0 30px;
  }
  input {
    font-size: 16px;
  }
  #message {
    font-size: 16px;
  }
  #message::placeholder {
    font-size: 16px;
  }
  input[type='submit'] {
    /* margin-bottom: 100px; */
    /* margin-top: 0px; */
    font-size: 16px;
    font-weight: 300;
    background: red;
  }
}
